# --
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.io/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
<li>
    <hr>
    <p class='oooAttach ooog'>{% if Attach %}<i class="fa fa-paperclip"></i>{% endif %}</p><h3 class='oooSender'>{{ Sender }}</h3>
    <p class='oooAge ooo10g'>{{ Age }}</p>
    <p class='oooSubject ooo12g'>{{ Subject }}</p>
</li>
