# dot files are usually not needed in the image
**/.*
!.bash_completion

# files that might be generated during development
build.log
otobo.iml

# this is for the case when the image is not created from a clean git checkout
Kernel/Config.pm
Kernel/Config/Files/ZZZAAuto.pm
otobo.iml
var/log/Daemon/
var/run/
var/tmp/

# in case somebody generated keys or certificates
**/*.cert
**/*.crt
**/*.csr
**/*.key
**/*.pem
