# Dot files are kept per default.
# The not wanted dot files are listed here explicitly.
# The .keep files force git to keep the directories, they are not needed in the image.
**/.keep
.bash_aliases

# Files for git are not needed in the image.
.git
.gitignore
.gitconfig
.github

# the development folder is not needed
development

# files that might be generated during development
build.log
otobo.iml
*.out

# editor swap files, other temporary files
**/.#*
**/*.sw?
**/*~

# files only needed only for building the docker image
.dockerignore
bin/docker/build_docker_images.sh
bin/docker/lint_docker_files.sh
hooks
otobo.*.dockerfile

# files only needed only for continous integration
.otobo-ci.yml

# files only needed for Apache, see also Kernel::System::Environment where the ignored modules are special cased
scripts/apache*
bin/cgi-bin
Kernel/cpan-lib/Apache2
Kernel/cpan-lib/Apache
Kernel/cpan-lib/CGI/Apache.pm
Kernel/System/SupportDataCollector/Plugin/Webserver/Apache

# no need for cronjobs in Docker image
var/cron
bin/Cron.sh

# this is for the case when the image is not created from a clean git checkout
Kernel/Config.pm
Kernel/Config/Files/*Auto.pm
Kernel/Config/Files/ZZZZUnitTest*
var/article/*
var/log/*
var/run/
var/sessions/*
var/spool/*
var/tmp/

# in case somebody generated keys or certificates,
# but keep the sample files needed for the unit tests
**/*.cert
**/*.crt
!scripts/test/sample/SMIME/SMIME*.crt
**/*.csr
**/*.key
!scripts/test/sample/SMIME/SMIME*.key
**/*.pem
!Kernel/cpan-lib/Mozilla/CA/cacert.pem
!scripts/test/sample/SMIME/SMIME*.pem
!scripts/test/sample/SSL/*.pem
**/*.chain
