# Dot files in the root dir are usually not needed in the image.
# The file .bash_completion is an exception from that rule.
# Note that scripts/.vimrc and the .keep files in some subdirs are explicitly wanted.
# The .keep files force git to keep the directories.
.*
**/.keep
!.bash_completion

# files that might be generated during development
build.log
otobo.iml

# this is for the case when the image is not created from a clean git checkout
Kernel/Config.pm
Kernel/Config/Files/*Auto.pm
otobo.iml
var/log/Daemon/
var/run/
var/tmp/

# in case somebody generated keys or certificates
**/*.cert
**/*.crt
**/*.csr
**/*.key
**/*.pem
