.gitconfig
var/log/error_log
var/log/ssl_request_log
.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
*.swp
*.swo
*~
.profile
.vstags
.vscode
.vimrc

# OTRS
.procmailrc
/ARCHIVE
doc/manual/en
doc/en/otrs_business_solution_book.pdf
Kernel/Config/Backups/
Kernel/Config/Files/ZZZ*.pm
Kernel/Config/Files/User/*
Kernel/Config/GenericAgent.pm
Kernel/Config.pm
Kernel/Language/*.old
bin/cgi-bin/.htaccess
scripts/apache2-perl-startup2.pl
var/virtualfs
var/run
var/log/*.log
var/log/Daemon/*.log
var/OPM
var/Stats
var/tmp/*
var/httpd/htdocs/SeleniumScreenshots/
var/httpd/htdocs/js/thirdparty/jslint
var/httpd/htdocs/js/js-cache
var/httpd/htdocs/skins/*/*/css-cache
var/sessions/Data*
var/sessions/State*
var/article/*
var/cron/*
!var/cron/*.dist

# Fred
Fred.sopm
CHANGES-Fred
doc/en/Fred.xml
doc/en/Fred.pdf
Kernel/Output/HTML/FilterContent/Fred.pm
Kernel/Output/HTML/Fred/*
Kernel/Output/HTML/Templates/Standard/DevelFred*
Kernel/Config/Files/AAAFred.pm
Kernel/Config/Files/Fred.xml
Kernel/Config/Files/XML/Fred.xml
Kernel/Modules/DevelFred.pm
Kernel/System/Fred
var/fred
var/httpd/htdocs/js/*Fred*js
var/httpd/htdocs/skins/Agent/default/css/*Fred*css
var/httpd/htdocs/skins/Customer/default/css/*Fred*css

# NYTProf
nytprof*.out

# OTRSCodePolicy
.tidyall.d
perltidy.LOG.old
bin/otrs.CodePolicy.pl
TidyAll
Kernel/cpan-lib/Locale/PO.pm
scripts/install-git-hooks.pl
scripts/uninstall-git-hooks.pl
OTRSCodePolicy*
perltidy.LOG

# ITSM
var/stats/*.xml.installed
bin/CodeInstall.pl
bin/ModuleCode.pl
bin/DatabaseInstall.pl

# OTRSCodeHub
var/git

# STORM
Kernel/Config/Files/XML/OTRSStorm.xml
Kernel/Modules/AdminSTORM.pm
Kernel/Output/HTML/Templates/Standard/AdminSTORM.tt
Kernel/Output/HTML/Templates/Standard/NotificationEvent/Email/TLP-Amber.tt
Kernel/Output/HTML/Templates/Standard/NotificationEvent/Email/TLP-Green.tt
Kernel/Output/HTML/Templates/Standard/NotificationEvent/Email/TLP-Red.tt
Kernel/Output/HTML/Templates/Standard/NotificationEvent/Email/TLP-White.tt
var/httpd/htdocs/skins/Agent/storm/*
var/packagesetup/OTRSSTORM.pm
OTRSSTORM.sopm

# OTRSContinuousIntegrationProvisioner (vagrant VMs)
.cache
.ssh
.viminfo
.bash*
.mysql_history
.passwd
backup_es

# IntelliJ IDEA
.idea
*.iml
