[Unit]
Description = Otobo Web Service
Documentation = https://doc.otobo.org
After = network.target

[Service]
Type = simple
User = otobo
Group = otobo
WorkingDirectory = /opt/otobo
Environment = OTOBO_HOME=/opt/otobo
Environment = PERL5LIB=/opt/otobo/install/local/lib/perl5
Environment = PATH=/opt/otobo/local/bin:/opt/otobo/install/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart = /opt/otobo/bin/docker/entrypoint.sh web
Restart = always

[Install]
WantedBy = multi-user.target
