# Config for nginx serving as a reverse proxy for the OTOBO web application.

# This config is based on default.conf in the nginx installation

# The master process runs as root.
# When no user is configured then the workers will run as nobody.
#user

proxy_send_timeout 120;
proxy_read_timeout 99999;
proxy_buffering    off;
tcp_nodelay        on;

# Hide nginx version number in error pages and Server HTTP response header field.
server_tokens off;

# Do not serve HTTP, redirect to HTTPS instead.
# See https://linuxize.com/post/redirect-http-to-https-in-nginx/.
server {
    listen 8080;
    listen [::]:8080;

    # catch all domains
    server_name _;

    # 301 Moved Permanently, (in 'SEO-speak', it is said that the 'link-juice' is sent to the new URL).
    return 301 https://$host:${OTOBO_WEB_HTTPS_PORT}$request_uri;
}

# serve HTTPS
server {
    listen 8443 ssl http2;                # falls back to regular HTTPS over HTTP/1.1 when the browser does not support HTTP/2
    listen [::]:8443 ssl http2;

    # See https://www.digitalocean.com/community/tutorials/how-to-create-a-self-signed-ssl-certificate-for-nginx-in-ubuntu-18-04
    # See https://ssl-config.mozilla.org/
    include snippets/ssl-params.conf;
    ssl_certificate     ${OTOBO_NGINX_SSL_CERTIFICATE};
    ssl_certificate_key ${OTOBO_NGINX_SSL_CERTIFICATE_KEY};

    server_name  localhost;

    # allow large uploads of files
    client_max_body_size 1G;

    #access_log  /var/log/nginx/host.access.log  main;

    # The GenericInterface is used by API clients that speak neither Kerberos nor SAML.
    # It is therefore excluded from SSO. The identity for GenericInterface requests comes
    # from the credentials in the request itself, never from a header: the include below
    # removes any client supplied Remote-User header, and no REMOTE_USER header is added.
    location /otobo/nph-genericinterface.pl {
        auth_gss off;

        include snippets/otobo-proxy-headers.conf;
        proxy_set_header X-OTOBO-Proxy-Secret "${OTOBO_NGINX_PROXY_SECRET}";

        proxy_pass       http://${OTOBO_NGINX_WEB_HOST}:${OTOBO_NGINX_WEB_PORT}/otobo/nph-genericinterface.pl;
    }

    # Everything else is protected by Kerberos SSO.

    location / {

        # Settings for using Kerberos SSO (mostly untested)
        proxy_set_header REMOTE_USER $remote_user;
        auth_gss on;
        auth_gss_keytab /etc/krb5.keytab;
        auth_gss_service_name ${OTOBO_NGINX_KERBEROS_SERVICE_NAME};
        auth_gss_realm ${OTOBO_NGINX_KERBEROS_REALM};
        auth_gss_allow_basic_fallback on;

        # Common headers, including the removal of a client supplied Remote-User header.
        # The include MUST come before REMOTE_USER is set.
        include snippets/otobo-proxy-headers.conf;

        # Prove to OTOBO that this request comes from the proxy. Set the same value in the
        # OTOBO container as OTOBO_PROXY_SECRET (or WebServer::ProxySecret). Together with
        # 'AuthModule::HTTPBasicAuth::TrustProxyHeader' = 1 this makes OTOBO accept the
        # authenticated user below.
        proxy_set_header X-OTOBO-Proxy-Secret "${OTOBO_NGINX_PROXY_SECRET}";

        # The user authenticated by auth_gss. OTOBO reads this as the header "Remote-User".
        proxy_set_header REMOTE_USER $remote_user;

        proxy_pass       http://${OTOBO_NGINX_WEB_HOST}:${OTOBO_NGINX_WEB_PORT}/;
    }
}
