# --
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.io/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
<div class="Field Result {{ Success }}">
    <p id="ResultMessage" class="{{ Success }}">{{ Message }}</p>
    <p id="ResultComment" class="FieldExplanation">{{ Comment }}</p>
</div>
<div class="Clear"></div>
