# --
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.io/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
<div class="Field">
    <h3>{{ "Package" | Translate}}: {{ Package.PackageName }}</h3>
{% if Package.IgnoreType and Package.IgnoreType === 'Uninstall' %}
    <input type="radio" name="Package_{{ Package.PackageName }}" id="Package_{{ Package.PackageName }}-Uninstall" value="uninstall" checked="checked"/>
    <label for="Package_{{ Package.PackageName }}-Uninstall">{{ "Uninstall from OTOBO" | Translate }}</label>
    <br/>
    <p class="PackageComment">{{ Package.Comment | Translate }}</p>
{% elseif Package.IgnoreType and Package.IgnoreType === 'Ignore' %}
    <input type="radio" name="Package_{{ Package.PackageName }}" id="Package_{{ Package.PackageName }}-Ignore" value="ignore" checked="checked"/>
    <label for="Package_{{ Package.PackageName }}-Ignore">{{ "Ignore" | Translate }}</label>
    <br/>
    <p class="PackageComment">{{ Package.Comment | Translate }}</p>
{% else %}    
    <input type="radio" name="Package_{{ Package.PackageName }}" id="Package_{{ Package.PackageName }}-Migrate" value="migrate" />
    <label for="Package_{{ Package.PackageName }}-Migrate">{{ "Migrate" | Translate }}</label>
    <br/>
    <input type="radio" name="Package_{{ Package.PackageName }}" id="Package_{{ Package.PackageName }}-Uninstall" value="uninstall" checked="checked"/>
    <label for="Package_{{ Package.PackageName }}-Uninstall">{{ "Uninstall from OTOBO" | Translate }}</label>
    <br/>
    <input type="radio" name="Package_{{ Package.PackageName }}" id="Package_{{ Package.PackageName }}-Ignore" value="ignore" />
    <label for="Package_{{ Package.PackageName }}-Ignore">{{ "Ignore" | Translate }}</label>
{% endif %}
</div>
