<input type="hidden" id="[% FieldName %]" name="[% FieldName %]" value="[% ValueEscaped %]" />
253 <input type="text" class="[% FieldClass %]" id="Autocomplete_[% FieldName %]" name="Autocomplete_[% FieldName %]" title="[% FieldLabelEscaped %]" value="[% VisibleValue %]" />
[% IF DivID && FieldRequiredMessage %]
<div id="[% DivID %]" class="TooltipErrorMessage">
    <p>
        [% FieldRequiredMessage %]
    </p>
</div>
[% END %]
[% IF DivID && ErrorMessage %]
<div id="[% DivID %]" class="TooltipErrorMessage">
    <p>
        [% ErrorMessage %]
    </p>
</div>
[% END %]
