# --
# OTOBO is a web-based ticketing system for service organisations.
# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2026 Rother OSS GmbH, https://otobo.io/
# --
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# --

<div class="MainBox Dashboard ARIARoleMain LayoutFixedSidebar SidebarLast">

    <h1>[% Translate("Elasticsearch Results") | html %]</h1>
    <div class="ContentColumn">

    [% RenderBlockStart("MainMenu") %]
        <div class="ActionRow SpacingBottom">
            <ul class="Actions">
    [% RenderBlockStart("MainMenuItem") %]
                <li>
                    <a href="[% Data.Link | Interpolate %]">
                        [% Translate(Data.Name) | html %]
                    </a>
                </li>
    [% RenderBlockEnd("MainMenuItem") %]
            </ul>
            <div class="Clear"></div>
        </div>
    [% RenderBlockEnd("MainMenu") %]

    [% RenderBlockStart("ContentLarge") %]
        <div class="WidgetSimple CanDrag" id="Dashboard[% Data.Name | html %]-box">
            <div class="Header">
                <div class="ActionMenu">
    [% RenderBlockStart("ContentLargePreferences") %]
                    <div class="WidgetAction Settings">
                        <a href="#" id="Dashboard[% Data.Name | html %]-toggle" title="[% Translate("Settings") | html %]">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
    [% RenderBlockEnd("ContentLargePreferences") %]
                    <div class="Clear"></div>
                </div>
                <h2 title="[% Translate(Data.Description) | html %]">[% Translate(Data.Title) | html %]</h2>
            </div>

            <div class="Content">
                <div id="Dashboard[% Data.Name | html %]-setting" class="Hidden">
                    <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="Dashboard[% Data.NameForm | html %]_setting_form" id="Dashboard[% Data.NameForm | html %]_setting_form" class="WidgetSettingsForm">
                        <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                        <input type="hidden" name="Subaction" value="UpdatePreferences"/>
                        <input type="hidden" name="FulltextES" value="[% Data.FulltextES | html %]"/>
                        <input type="hidden" name="Name" value="[% Data.Name | html %]"/>
                        <input type="hidden" name="CustomerID" value="[% Data.CustomerID | html %]"/>
                        <input type="hidden" name="CustomerUserID" value="[% Data.CustomerUserID | html %]"/>
                        <fieldset class="TableLike FixedLabelSmall DontPrint">
    [% RenderBlockStart("ContentLargePreferencesItem") %]
    [% RenderBlockStart("ContentLargePreferencesItemOption") %]
                            <label class="DontPrint" for="[% Data.NamePref | html %]">[% Translate(Data.Desc) | html %]:</label>
                            <div class="DontPrint Field">
                                [% Data.Option %]
                            </div>
                            <div class="Clear"></div>
    [% RenderBlockEnd("ContentLargePreferencesItemOption") %]
    [% RenderBlockEnd("ContentLargePreferencesItem") %]
                            <div class="Buttons">
                                <button id="Dashboard[% Data.Name | html %]_submit" class="CallForAction DontPrint" type="submit" value="[% Translate("Submit") | html %]"><span>[% Translate("Save Changes") | html %]</span></button>
                                &nbsp;[% Translate("or") | html %]&nbsp;
                                <button id="Dashboard[% Data.Name | html %]_cancel" class="CallForAction DontPrint" type="submit" value="[% Translate("Cancel") | html %]"><span>[% Translate("Cancel") | html %]</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div id="Dashboard[% Data.Name | html %]">
                    [% Data.Content %]
                </div>
            </div>
        </div>
    [% RenderBlockEnd("ContentLarge") %]
    </div>
    <div class="Clear"></div>

</div>
