# --
# OTOBO is a web-based ticketing system for service organisations.
# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2020 Rother OSS GmbH, https://otobo.de/
# --
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# --

<div class="InnerContent">
    <form action="[% Env("CGIHandle") %]" method="post" id="ElasticsearchQuickResult">
        <input type="hidden" name="Action" value="[% Env("Action") %]"/>
        <input type="hidden" name="Subaction" value="Redirect"/>
        <table class="TableSmall NoCellspacing">
[% IF Data.Tickets %]
            <thead>
                <tr>
                    <th class="OverviewHeader TicketNumber">
                        <a name="OverviewControl"  title="[% Translate("Ticketnumber") | html  %]">Ticket#</a>
                    </th>
                    <th class="OverviewHeader TicketTitle">
                        <a name="OverviewControl"  title="[% Translate("Title") | html  %]">[% Translate("Title") | html  %]</a>
                    </th>
                    <th class="OverviewHeader TicketQueue">
                        <a name="OverviewControl"  title="[% Translate("Queue") | html %]">[% Translate("Queue") | html %]</a>
                    </th>
                    <th class="OverviewHeader TicketAge">
                        <a name="OverviewControl"  title="[% Translate("Age") | html %]">[% Translate("Age") | html %]</a>
                    </th>
                </tr>
            </thead>
            <tbody>

[% RenderBlockStart("Record") %]
                <tr id="TicketID_[% Data.TicketID | html %]" class="MasterAction">

[% RenderBlockStart("RecordTicketNumber") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.TicketNumber %]</a>
                    </td>
[% RenderBlockEnd("RecordTicketNumber") %]
[% RenderBlockStart("RecordTicketTitle") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.TicketTitle %]</a>
                    </td>
[% RenderBlockEnd("RecordTicketTitle") %]
[% RenderBlockStart("RecordTicketQueue") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.TicketQueue %]</a>
                    </td>
[% RenderBlockEnd("RecordTicketQueue") %]
[% RenderBlockStart("RecordTicketAge") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID | uri %]" title="[%  Data.Title | html %]" class="MasterActionLink">[% Data.TicketAge %]</a>
                    </td>
[% RenderBlockEnd("RecordTicketAge") %]

                </tr>
[% RenderBlockEnd("Record") %]
            </tbody>
[% END %]

[% IF Data.Companies %]
            <thead>
                <tr>
                    <th class="OverviewHeader CustomerCompanyID">
                        <a name="OverviewControl"  title="CustomerID"> [% Translate("Customer ID") | html %] </a>
                    </th>
                    <th class="OverviewHeader CustomerCompanyName">
                        <a name="OverviewControl"  title="CustomerCompanyName"> [% Translate("Customer") | html %] </a>
                    </th>
                    <th class="OverviewHeader CustomerCompanyComment">
                        <a name="OverviewControl"  title="CustomerCompanyComment"> [% Translate("Comment") | html %] </a>
                    </th>
                </tr>
            </thead>
            <tbody>

[% RenderBlockStart("RecordCustomer") %]
                <tr id="CustomerID_[% Data.CustomerID | html %]" class="MasterAction">

[% RenderBlockStart("RecordCustomerCompanyID") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerInformationCenter;CustomerID=[% Data.CustomerID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerID %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerCompanyID") %]

[% RenderBlockStart("RecordCustomerCompanyName") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerInformationCenter;CustomerID=[% Data.CustomerID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerCompanyName %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerCompanyName") %]

[% RenderBlockStart("RecordCustomerCompanyComment") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerInformationCenter;CustomerID=[% Data.CustomerID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerCompanyComment %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerCompanyComment") %]

                </tr>
[% RenderBlockEnd("RecordCustomer") %]
            </tbody>
[% END %]

[% IF Data.CustomerUsers %]
            <thead>
                <tr>
                    <th class="OverviewHeader CustomerUserID">
                        <a name="OverviewControl"  title="CustomerUserID"> [% Translate ("Username") %] </a>
                    </th>
                    <th class="OverviewHeader CustomerUserName">
                        <a name="OverviewControl"  title="CustomerUserName"> [% Translate ("Name") %] </a>
                    </th>
                    <th class="OverviewHeader CustomerUserCompany">
                        <a name="OverviewControl"  title="CustomerUserCompany"> [% Translate ("Customer") %] </a>
                    </th>
                </tr>
            </thead>
            <tbody>

[% RenderBlockStart("RecordCustomerUser") %]
                <tr id="CustomerUserID_[% Data.CustomerUserID | html %]" class="MasterAction">

[% RenderBlockStart("RecordCustomerUserID") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerUserInformationCenter;CustomerUserID=[% Data.CustomerUserID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerUserID %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerUserID") %]

[% RenderBlockStart("RecordCustomerUserName") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerUserInformationCenter;CustomerUserID=[% Data.CustomerUserID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerUserName %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerUserName") %]

[% RenderBlockStart("RecordCustomerUserCompany") %]
                    <td>
                        <a href="[% Env("Baselink") %]Action=AgentCustomerInformationCenter;CustomerID=[% Data.CustomerID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.CustomerUserCompany %]</a>
                    </td>
[% RenderBlockEnd("RecordCustomerUserCompany") %]

                </tr>
[% RenderBlockEnd("RecordCustomerUser") %]
            </tbody>
[% END %]
        </table>
    </form>
</div>
