<!--                                                                                   -->
<!--             OTRS: Copyright (C) 2001-2020 OTRS AG, https://otrs.com/              -->
<!--         OTOBO: Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.io/         -->
<!--    Web: https://otobo.io/ - Forum: https://otobo.io/de/forums/otobo/otobo-forum   -->
<!--        GNU General Public License: https://www.gnu.org/licenses/gpl-3.0.txt       -->
<!--                                                                                   -->
## nofilter(TidyAll::Plugin::OTOBO::Common::HeaderlineFilename)
## nofilter(TidyAll::Plugin::OTOBO::Legal::LicenseValidator)
