# --
# OTOBO is a web-based ticketing system for service organisations.
# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2026 Rother OSS GmbH, https://otobo.io/
# --
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# --

[% RenderBlockStart("Search") %]
<div id="oooContent" class="ARIARoleMain Search">
    <div id="oooHeader">
        <h1>[% Translate("Search for a Ticket") | html %]</h1>
[% RenderBlockStart("SearchBox") %]
        <div id="oooSearchBox">
        </div>
        <a id='oooHeaderButton' href="[% Env("Baselink") %]Action=CustomerITSMConfigItemSearch;Filter=1;View=Small;SortBy=Age;OrderBy=Up" title="[% Translate("Search") | html %]" accesskey="[% Data.AccessKey | html %]"><button><span> [% Translate("Search") | html %]</span></button></a>
[% RenderBlockEnd("SearchBox") %]
    </div>
    <div id="oooMainBox">
        <div id="oooTicketSearchListHeader">
[% IF Data.SiteNavBar %]
            <div class="ooo12g ooor">
                <p>[% Translate("Page") | html %]</p>
                [% Data.SiteNavBar %]
            </div>
[% END %]
        </div>
        <div class="oooTicketSearch">
            <div class="oooWidget oooTicketSearchTemplateForm">
                <h2>[% Translate("Profile") | html %]</h2>
                <form action="[% Env("CGIHandle") %]" method="get">
                    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                    <input type="hidden" name="Subaction" value="LoadProfile"/>
                    <fieldset class="ModularForm">
                        <div class="Row">
                            <div class="FieldCell">
                                <div class="Field">
                                    [% Data.ProfilesStrg %]
                                </div>
                                <label for="Profile">[% Translate("Search template") | html %]</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="Row ActionRow">
                        <button name="SelectTemplate" class="oooM" type="submit" value="[% Translate("Select") | html %]">[% Translate("Select") | html %]</button>
                        <button name="EraseTemplate" class="oooM" type="submit" value="[% Translate("Delete") | html %]">[% Translate("Delete") | html %]</button>
                        <button name="SearchTemplate" class="oooM" type="submit" value="[% Translate("Search") | html %]">[% Translate("Search") | html %]</button>
                    </div>
                </form>
            </div>
            <div class="oooWidget oooTicketSearchForm">

                <form action="[% Env("CGIHandle") %]" method="post" name="compose">
                    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                    <input type="hidden" name="Subaction" value="Search"/>
                    <input type="hidden" name="SearchDialog" value='1'>
                    <input type="hidden" name="EmptySearch" value="[% Data.EmptySearch | html %]" id="EmptySearch"/>
                    <input type="hidden" name="FormID" value="[% Data.FormID | html %]" />
                    <div class="oooSection">
                        <h3>[% Config("Ticket::Hook") %]</h3>
                        <fieldset class="ModularForm">
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        <input title="[% Config("Ticket::Hook") | html %]" type="text" name="TicketNumber" id="TicketNumber" size="30" value="[% Data.TicketNumber | html %]"/>
                                    </div>
                                    <label for="TicketNumber">[% Config("Ticket::Hook") %]</label>
                                    <p class="FieldExplanation">[% Translate("e. g. 10*5155 or 105658*") | html %]</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.CustomerIDStrg %]
                                    </div>
                                    <label for="CustomerID">[% Translate("CustomerID") | html %]</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="oooSection">
                        <h3>[% Translate("Fulltext Search in Tickets (e. g. \"John*n\" or \"Will*\")") | html %]</h3>
                        <fieldset class="ModularForm">
[% RenderBlockStart("SearchableArticleField") %]
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        <input title="[% Translate(Data.ArticleFieldLabel) | html %]" type="text" id="[% Data.ArticleFieldKey %]" name="[% Data.ArticleFieldKey | html %]" value="[% Data.ArticleFieldValue | html %]" size="20" class="[% Data.ArticleFieldKey %]Invalid" />
                                    </div>
                                    <label for="[% Data.ArticleFieldKey | html %]">[% Translate(Data.ArticleFieldLabel) | html %]</label>
                                    <div id="[% Data.ArticleFieldKey %]ServerError" class="TooltipErrorMessage">
                                        <p>[% Data.ArticleFieldKeyTooltip | html %]</p>
                                    </div>
                                </div>
                            </div>
[% RenderBlockEnd("SearchableArticleField") %]

[% RenderBlockStart("DynamicField") %]
                            <div class="Row Row_DynamicField">
                                <div class="FieldCell">
    [% IF Data.IsTimeRestrictionField %]
                                    <div class="Field TimeRestrictionField">
    [% ELSE %]
                                    <div class="Field">
    [% END %]
                                        [% Data.Field %]
                                    </div>
                                    [% Data.Label %]
                                </div>
                            </div>
[% RenderBlockEnd("DynamicField") %]
                        </fieldset>

[% IF Config('Ticket::Service') || Config('Ticket::Type') %]
                        <fieldset class="ModularForm">
[% IF Config('Ticket::Service') %]
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.ServicesStrg %]
                                    </div>
                                    <label for="ServiceIDs">[% Translate("Services") | html %]:</label>
                                </div>
                            </div>
[% END %]
[% IF Config('Ticket::Type') %]
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.TypesStrg %]
                                    </div>
                                    <label for="TypeIDs">[% Translate("Types") | html %]:</label>
                                </div>
                            </div>
[% END %]
                        </fieldset>
[% END %]
                        <fieldset class="ModularForm">
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.PrioritiesStrg %]
                                    </div>
                                    <label for="PriorityIDs">[% Translate("Priority") | html %]:</label>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.StatesStrg %]
                                    </div>
                                    <label for="StateIDs">[% Translate("State") | html %]:</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="oooSection">
                        <h3>[% Translate("Time Restrictions") | html %]</h3>
                        <fieldset class="ModularForm TimeRestrictionFilters">
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        <input title="[% Translate("No time settings") | html %]" type="radio"  id="NoTimeSet" name="TimeSearchType" value="" [% Data.item("TimeSearchType::None") %] />
                                    </div>
                                    <label for="NoTimeSet">[% Translate("All") | html %]</label>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field NoLabel">
                                        <input title="[% Translate("Specific date") | html %]" type="radio" id="Date" name="TimeSearchType"  value="TimePoint" [% Data.item("TimeSearchType::TimePoint") %] />
                                        <p>[% Translate("Only tickets created") | html %]</p>
                                        [% Data.TicketCreateTimePointStart %]
                                        [% Data.TicketCreateTimePoint %]
                                        [% Data.TicketCreateTimePointFormat %]
                                    </div>
                                    <label for="Date">[% Translate("Only tickets created") | html %]</label>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field NoLabel">
                                        <input title="[% Translate("Date range") | html %]" type="radio" id="DateRange" name="TimeSearchType" value="TimeSlot" [% Data.item("TimeSearchType::TimeSlot") %] />
                                        <p>[% Translate("Only tickets created between") | html %]</p>
                                        <div>
                                            [% Data.TicketCreateTimeStart %]
                                        </div>
                                        <p>[% Translate("and") | html %]</p>
                                        <div>
                                            [% Data.TicketCreateTimeStop %]
                                        </div>
                                    </div>
                                    <label for="DateRange">[% Translate("Only tickets created between") | html %]</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
[% RenderBlockStart("SearchInArchive") %]
                    <fieldset class="ModularForm">
                        <h2>[% Translate("Ticket Archive System") | html %]</h2>
                        <div class="Row">
                            <div class="FieldCell">
                                <div class="Field">
                                    [% Data.SearchInArchiveStrg %]
                                </div>
                                <label for="SearchInArchive">[% Translate("Archive Search") | html %]:</label>
                            </div>
                        </div>
                    </fieldset>
[% RenderBlockEnd("SearchInArchive") %]
                    <div class="oooSection">
                        <h3>[% Translate("Save Search as Template?") | html %]</h3>
                        <fieldset>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        <input title="[% Translate("Save as Template") | html %]" type="checkbox" id="SaveProfile" name="SaveProfile" />
                                    </div>
                                    <label for="SaveProfile">[% Translate("Save as Template?") | html %]</label>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        <input title="[% Translate("Pick a profile name") | html %]" type="text" id="Profile" name="Profile" size="30" value="[% Data.Profile | html %]" />
                                    </div>
                                    <label for="Profile">[% Translate("Template Name") | html %]</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="oooSection">
                        <h3>[% Translate("Output to") | html %]</h3>
                        <fieldset class="ModularForm">
                            <div class="Row">
                                <div class="FieldCell">
                                    <div class="Field">
                                        [% Data.ResultFormStrg %]
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div id="BottomActionRow" class="ActionRow Row">
                        <button id="Submit" class="oooM" type="submit" value="[% Translate("Search") | html %]">[% Translate("Search") | html %]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
[% RenderBlockEnd("Search") %]
