# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.io/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="DnDUpload" tabindex="0" role="button" aria-label="{{ 'Click to select a file for upload.' | Translate }}">
    {% if Customer %}
        <i class="fa fa-spinner fa-spin"></i>
        <i class="ooofo ooofo-save"></i>
        <span class="ReadyForUpload">
            {{ 'Click to select or drop files here.' | Translate }}
        </span>
    {% else %}
        <i class="fa fa-spinner fa-spin"></i>
        <i class="fa fa-download"></i>
        <span class="ReadyForUpload">
        {% if IsMultiple %}
            {{ 'Click to select files or just drop them here.' | Translate }}
        {% else %}
            {{ 'Click to select a file or just drop it here.' | Translate }}
        {% endif %}
        </span>

        <span class="UploadRunning">{{ 'Uploading...' | Translate }}</span>
    {% endif %}
</div>
