%YAML 1.1
---
name: 'DockerImageUpdateChecker'
# Adapted from https://github.com/marketplace/actions/docker-image-update-checker#minimal

# run daily, time is in UTC, scheduled jobs run only on the default branch
on:
  workflow_dispatch:
  schedule:
    - cron: '4 8 * * *'

env:
  TEST_TAG: rotheross/otobo:devel-11_0_test

jobs:
  CheckDockerImageUpdate:
    runs-on: 'ubuntu-latest'
    steps:

      -
        # this step sets ${{ steps.check.outputs.needs-updating }}
        name: Check whether base image was updated
        id: check
        uses: lucacome/docker-image-update-checker@v1
        with:
          base-image: perl:5.38-bookworm
          image: rotheross/otobo:latest-11_0

      -
        # print the result in any case
        name: Report the check result
        run: |
          echo "The OTOBO web image needs updating: ${{ steps.check.outputs.needs-updating }}"

      # TODO: early exit when nothing has to be done
      -
        name: Set up Docker Buildx
        if: steps.check.outputs.needs-updating == 'true'
        uses: docker/setup-buildx-action@v3

      -
        # build the image, not pushing yet, no pushing as DockerHub access is not set up yet
        name: Build and not push
        if: steps.check.outputs.needs-updating == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: otobo.web.dockerfile
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Test
        if: steps.check.outputs.needs-updating == 'true'
        run: |
          docker run --rm ${{ env.TEST_TAG }} cat RELEASE

      -
        # indicate an error when the base image has changed
        name: Exit with an error
        if: steps.check.outputs.needs-updating == 'true'
        run: |
          echo "::error:: Please update the latest OTOBO images for rel-10_0, rel-10_1. rel-11_0, and rel-11_1"
          exit 1;
