%YAML 1.1
---
name: 'DockerImageUpdateChecker'
# Adapted from https://github.com/marketplace/actions/docker-image-update-checker#minimal

# run daily, time is in UTC, scheduled jobs run only on the default branch
on:
  schedule:
    - cron: '20 11 * * *'

jobs:
  CheckDockerImageUpdate:
    runs-on: 'ubuntu-latest'
    steps:
      
      - name: Check if update available
        id: check
        uses: lucacome/docker-image-update-checker@v1
        with:
          base-image: perl:5.38-bookworm
          image: rotheross/otobo:latest-11_0

      - name: Report check result
        run: 'echo "The OTOBO web image needs updating: ${{ steps.check.outputs.needs-updating }}"'
